.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  direction: rtl;
  text-align: right;
}

h1,
h2,
h3,
h4 {
  color: #2c3e50;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  direction: ltr;
  text-align: left;
}
h1 {
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 16px;
  background-color: #d1d4d6;
}
h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
}
p,
ul,
ol,
li,
table {
  direction: ltr;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.urdu-text {
 font-family: var(--font-naskh-arabic);
 color:blue;

 direction: rtl;
}

.quiz-section {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  padding: 1.5em;
  margin-top: 2em;
  border-radius: 8px;
  
}

.quiz-question {
  font-weight: bold;
  margin-top: 1em;
  text-align: left;
  direction: ltr;
}

.quiz-options {
  list-style-type: lower-alpha;
  margin-left: 20px;
}

.review-section {
  border-top: 2px solid #ccc;
  padding-top: 1.5em;
  margin-top: 2em;
}
