tbody > tr,
thead > tr {
  background-color: #f0f0f0;
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
tbody > tr > td:last-child {
  background-color: blue;
  border-radius: 0.5rem;
  color: white;
  padding: 0.1rem 0.5rem;
}

tr > td {
  width: 30%;
  text-align: center;
}
